name: Integration Tests

on:
  workflow_run:
    workflows: ["Build Latest"]
    types: [completed]
  push:
    branches: 
      - '*'
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - 'README.md'
      - 'docs/**'

permissions:
  contents: read
  actions: read

jobs:
  integration-test:
    name: Integration Tests
    runs-on: buildjet-2vcpu-ubuntu-2204-arm
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        include:
          - container: ghcr.io/viamrobotics/rdk-devenv:arm64-cache
            TARGET: pi
    container:
      image: ${{ matrix.container }}
      options: --platform linux/arm64

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Download AppImage artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: build.yml
          branch: ${{ github.head_ref || github.ref_name }}
          workflow_conclusion: success
          allow_forks: true
          name: viam-csi-${{ matrix.TARGET }}-appimage
          path: ./etc

      - name: Make AppImage executable
        run: chmod +x ./etc/*.AppImage

      - name: Extract AppImage
        run: |
          cd ./etc
          ./*.AppImage --appimage-extract
          chmod +x squashfs-root/AppRun

      - name: Run integration tests
        run: |
          cd tests/integration
          export VIAM_CSI_DEVICE=${{ matrix.TARGET }}
          export VIAM_CSI_TEST_MODE=1
          go test -v -timeout 10m
